.box{
    border: 2px solid black;
    margin-top: 2%;
    margin-right:80%;
    margin-bottom: 30%;
    padding: 2%;

}
.na{
    background-image: url(./pexels-828860-2535913.jpg);
    background-size: cover;
}
   
.nan{
 
   background: url(./pexels-jhong-pascua-1062908-3018845.jpg);
   background-size: cover;
}